<main class="container">
  <% if flash[:error] %>
    <div class="flash flash--error">
      <%= flash[:error] %>
    </div>
  <% end %>
  
  <h1>Login</h1>
  <h2>To the Auth Server</h2>

  <%= form_with url: "/create_session", method: :post do |form| %>
    <div class="form__field">
      <%= form.label :username %>
      <%= form.text_field :username, autofocus: true, autocomplete: "username" %>
    </div>
    <div class="form__field">
      <%= form.label :password %>
      <%= form.password_field :password, autocomplete: "password" %>
    </div>

    <div class="form__actions">
      <%= form.submit "Login" %>
    </div>
  <% end %>
</main>
